.stApp > header {
    background-color: transparent;
}

.stApp {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: 4DA6FF;
    animation: gradient 15s ease infinite;
    background-size: 200% 200%;
    background-attachment: fixed;
}

/*Full Container*/
.st-emotion-cache-bm2z3a {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
    -webkit-box-align: center;
    align-items: center;
    background-color: royalblue;
}

/*App Title*/
h1 {
    font-family: "Arial Black", Gadget, sans-serif;
    font-weight: 700;
    color: rgb(250, 250, 250);
    padding: 1.25rem 0px 1rem;
    margin: 0px;
    line-height: 1.2;
}

/*Subtitle*/
h4 {
    font-family: "Arial", Helvetica, sans-serif;
    font-weight: 600;
    color: rgb(250, 250, 250);
    padding: 0.75rem 0px 1rem;
    margin: 0px;
    line-height: 1.2;
}

/*Dropbox*/
.st-emotion-cache-14ipyc0 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 1rem;
    background-color: rgb(5, 92, 157);
    border-radius: 0.5rem;
    color: white;
    background-color: black;
}

/*Sidebar*/
.st-emotion-cache-6qob1r {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: overlay;
    background-color: darkslategray;
}

/*Labels*/
.st-emotion-cache-1tpl0xr p {
    word-break: break-word;
    margin-bottom: 0px;
    font-size: 17px;
    font-family: "Arial", Helvetica, sans-serif;
}
